:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --primary-color: #e50914;

}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Odibee Sans', cursive;    
    background-color: var(--dark-color);    
}

a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: var(--dark-color);
  color: #fff;
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../img/background.jpg') no-repeat center center/cover;
}

/* Reaserch on the box shadow */
.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000; 
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%,-50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.showcase-logo {
  position: relative;
  width: 80%;
  height: auto;
}

.showcase-content h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  left: 95%;
  align-self: center;
  border-radius: 5px;

}

.comingsoon {
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  
}

.countdown {
    color: #fff;
    font-size: 10px;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    padding: 20px;   
    font-size: 50px;
    margin: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 30px;
    width: 150px;
    background: var(--primary-color);
}

/* .countdown div:first-child {
    background: rgb(155, 255, 255);
} */

.countdown span {
    display: block;
    font-size: 20px;
        
    /* padding-top: -5px; */

}

@media (max-width: 650px) {
    .landing img {
      width: 70%;
    }
  
    .landing h1 {
      font-size: 20px;
    }
  
    .countdown {
      font-size: 40px;
      flex-direction: column;
    }
  
    .countdown div {
      display: none;
    }
  
    .countdown div:first-child {
      display: block;
      width: 30%;
      padding: 10px;
    }
    
    .comingsoon {
      margin-top: 0px;      
    }
    
  }
  
  
  @media (max-height: 600px) {
    img {
      width: 20%;
    }
  
    p {
      display: none;
    }
  }
  
  @media (max-height: 400px) {
     img {
      padding-bottom: 30px;
    }
    
    h1 {
      display: none;
    }
  }