.eventdetails-container {
    color: #fff;


    ul {
        // list-style: none;
    }

    span {
        color: #e50915;
        font-weight: 800;
        // font-style: oblique;
    }

    h4 {
        padding-left: 75px;
    }
}