.app {
  padding-top: 0px;
}

h2{
  padding-left: 55px;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ;
}

li {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
  padding: 26px 20px;
}

li .nav {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}

.nav-register {
  background-color: #e50914;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 11px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  z-index: 1;
}
